.img-40
{
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.margin-unset
{
	margin:unset !important;
}
.bg-2
{
	background-image: url(/images/bg-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: auto !important;
}
.login-register
{
	position: fixed !important;
	overflow: auto !important;
}
.padding-10
{
	padding: 10px !important;
}
.text-gold, a .text-gold
{
	color: #d4af37;
}

.padding-2-5
{
	padding: 2em 5em !important;
}
.login-header
{
	font-size: 3em !important;
	font-weight: bold !important;
}

.circle-list li {
	width: 4em;
	height: 4em;
	text-align: center;
	line-height: 3.5em;
	border-radius: 2em;
	background: #d4af37;
	margin: 0px 1em;
	display: inline-block;
	color: white;
	position: relative;
	border: 4px solid white;
}

.circle-list li::before{
	content: '';
	position: absolute;
	top: 1.5em;
	left: -4em;
	width: 4em;
	height: .7em;
	background: #d4af37;
	z-index: -1;

}


.circle-list li:first-child::before {
  display: none;
}

.circle-list li.active {
  background: #d4af37;
}

.circle-list .active ~ li {
  background: #d4af37;
}

.circle-list .active ~ li::before {
  background: #d4af37;
}

.img-logo-center
{
	width: 140px;
	height: 140px;
	object-fit: contain;
	margin: auto;
	margin-bottom: 2em;
}

.btn-gold
{
	background-color:#d4af37;
	border-color:#d4af37;
	color:white;
}
.btn-gold:hover, .btn-gold:active
{
	background-color: #dfb940 !important;
	border-color:#dfb940 !important;
	color: white;
}

.color-white
{
	color: white !important;
}

.img-75
{
	width: 75px;
	height: 75px;
	object-fit: contain;
}

.spinnger-7
{
	width: 7em !important;
	height: 7em !important;
	margin-top: 3em;
	margin-bottom: 3em;
}

.f24
{
	font-size: 24px !important;
}